services:
  - type: web
    name: n8n
    env: docker
    plan: free
    branch: main
    healthCheckPath: /rest/healthz
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: true
      - key: N8N_BASIC_AUTH_USER
        value: admin
      - key: N8N_BASIC_AUTH_PASSWORD
        value: password123
      # Listening address and external host are specified below
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
      - key: WEBHOOK_URL
        value: https://n8n-automation-ola1.onrender.com/
      - key: GENERIC_TIMEZONE
        value: Asia/Manila
      # --- Neon Postgres configuration ---
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_HOST
        value: ep-noisy-poetry-a1fzvspo-pooler.ap-southeast-1.aws.neon.tech
      - key: DB_POSTGRESDB_PORT
        value: 5432
      - key: DB_POSTGRESDB_DATABASE
        value: neondb
      - key: DB_POSTGRESDB_USER
        value: neondb_owner
      - key: DB_POSTGRESDB_SSLMODE
        value: require
      - key: DB_POSTGRESDB_PASSWORD
        sync: false
      - key: N8N_LISTEN_ADDRESS
        value: 0.0.0.0
      - key: N8N_HOST
        value: n8n-automation-ola1.onrender.com
      - key: N8N_LOG_LEVEL
        value: debug
      - key: NODE_OPTIONS
        value: --dns-result-order=ipv4first
      # Recommended for securing stored credentials
      # - key: N8N_ENCRYPTION_KEY
      #   generateValue: true
